// Specific CSS for your home-page
.home {
    background-color: #010101;
    background-size: contain;
    background-position: right;
    height: 100vh;
    background-repeat: no-repeat;
}

.home-container {
  margin: 0px 150px;
  padding: 150px 0;
}

.home h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 100px;
  font-weight: bold;
  background: -webkit-linear-gradient(white, $primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  font-size: larger;
  padding-right: 16px;
  background: -webkit-linear-gradient(white, $primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  &:hover {
    background: -webkit-linear-gradient($primary, white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

  }
}

.home-content {
  display: block;
  width: fit-content;
}

.social-links {
  display: flex;
  justify-content: space-between;
  a {
    font-size: larger;
    padding: 8px;
  }
}
