// Specific CSS for your home-page
.home {
    background-color: #010101;
    background-size: contain;
    background-position: right;
    height: 100vh;
    background-repeat: no-repeat;
}

.home-container {
  margin: 0px 150px;
  padding: 150px 0;
}

.home h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 100px;
  font-weight: bold;
}

.home p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.social-links {

  a {
  padding: 8px;
  }
}
