.shows-page {
  background-color: #010101;
  color: $white;
}

.shows {
  height: 60vh;
}

.weekly {
  display: flex;
  justify-content: space-around;
}


.day {
  margin: 16px;
  height: 8em;
  width: 10%;
  padding: 4px;
  text-align: center;
  border-style: solid;
  border-color: #3A3A3A;
  border-radius: 4px;
}


.upcoming h2 {
  text-align: center;
}

.show {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #3A3A3A;
}
