<div class="footer" id="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/DJTsunami/" target="_blank">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a href="https://soundcloud.com/djtsunamichii?fbclid=IwAR1E7fFCVCcJpn2Q-n-L9wPFYu6Bh8dC5ZoO6rnVDBKTjb2HT1B6MXWXk5g" target="_blank">
      <i class="fab fa-soundcloud"></i>
    </a>
    <a href="https://www.instagram.com/djtsunami/" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://open.spotify.com/artist/5UqnbnezI2TvaTWKwYhyrP" target="_blank">
      <i class="fab fa-spotify"></i>
    </a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-heart"></i> Music
  </div>
</div>
