<div class="bio">
  <%= render 'shared/banner' %>

  <!-- Content -->
  <div class="container">
    <div class="about">
      <p>With deep roots as a drummer and percussionist, it was only natural that Chicago native Erik Johnson was drawn to the beat of dance music at an early age. As Tsunami, he has graced the turntables at venues in the windy city and across the United States for more than a decade, all while releasing original music and remixes on iconic labels such as Moody Recordings, Toolroom, Trax Records and Phunk Junk, as well as co-finding the infamous Chicago party brand "Afterlife". Tsunami's Toolroom Records collaboration with Mike Vale entitled "Domina" received support from Mark Knight on Toolroom Radio and was a favorite off the Ibiza 2017 compilation. As a DJ, 2019 has been Tsunami's most monumental year yet, locking down coveted performances at festivals such as Spring Awakening, Electric Forest, and North Coast, as well as being selected as the winner of Insomniac's Discovery Project for EDC Orlando 2019, securing him a slot at the fest. His original track "Green Light District" was featured on the legendary Trax Records' 35 Years Of House Music compilation, and was supported internationally by some of dance music's giants. You can currently find him holding down residencies at many of Chicago's top nightclubs, and in the studio mastering his craft.
      </p>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>




