<!-- Hero -->
<%= render 'banner' %>

<!-- Content -->
<div class="container">
  <iframe width="70%" height="400" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/1626228&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

  <iframe src="https://open.spotify.com/embed/artist/5UqnbnezI2TvaTWKwYhyrP" width="300" height="400" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>



<!-- Footer -->
<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/DJTsunami/" target="_blank">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a href="https://soundcloud.com/djtsunamichii?fbclid=IwAR1E7fFCVCcJpn2Q-n-L9wPFYu6Bh8dC5ZoO6rnVDBKTjb2HT1B6MXWXk5g" target="_blank">
      <i class="fab fa-soundcloud"></i>
    </a>
    <a href="https://www.instagram.com/djtsunami/" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://open.spotify.com/artist/5UqnbnezI2TvaTWKwYhyrP" target="_blank">
      <i class="fab fa-spotify"></i>
    </a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-heart"></i> Music
  </div>
</div>
