<div class="shows">

  <!-- Hero -->
  <%= render 'shared/banner' %>

  <!-- Content -->
  <div class="weekly">
    <div class="day">
      <h3>Monday</h3>
      <p>Spybar</p>
      <p>Chicago, IL</p>
    </div>
    <div class="day">
      <h3>Tuesdy</h3>
      <p></p>
      <p></p>
    </div>
    <div class="day">
      <h3>Wednesday</h3>
      <p></p>
      <p></p>
    </div>
    <div class="day">
      <h3>Thursday</h3>
      <p>Potters</p>
      <p>Naperville, IL</p>
    </div>
    <div class="day">
      <h3>Friday</h3>
      <p></p>
      <p></p>
    </div>
    <div class="day">
      <h3>Saturday</h3>
      <p></p>
      <p></p>
    </div>
    <div class="day">
      <h3>Sunday</h3>
      <p>Your Mom's</p>
      <p>House</p>
    </div>
  </div>
  <div class="container upcoming">
    <h2>Upcoming Shows</h2>
    <div class="show">
      <p>Sat 01/01</p>
      <p>Day One</p>
      <p>Prysm</p>
    </div>
    <div class="show">
      <p>Wed 01/11</p>
      <p>Out Cold feat. Bad Boy Bill & Farley JackMaster Funk</p>
      <p>Prysm</p>
    </div>
  </div>
  <!-- Footer -->
  <%= render 'shared/footer' %>
</div>
